<!doctype html>
<html>

<head>
    <title>MJRoBot Lab Sensor Data</title>
    <link rel="stylesheet" href='../static/style.css'/>
</head>

<body>
	<h1>MJRoBot Lab Sensor Data</h1>
	<h3> TEMPERATURE &nbsp; ==>  {{ temp }} oC</h3>
	<h3> HUMIDITY (Rel.) ==>  {{ hum }} %</h3>
	<hr>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
	<h3> MJRoBot Lab Live Streaming ==> <a href="/camera" class="button">LIVE</a></h3>
	<hr>
	
	<p> @2018 Developed by MJRoBot.org</p>
</body>

</html>







